<div class="movieInfoContainer">
    <h2><span id="movieTitle">{{title}}</span> <br> <span id="movieRelease">{{release}}</span></h2>
        <div id="sidebyside">
            <img id="infoImage" src="{{image}}">
            <p id="plot">{{plot}}</p>
        </div>
    <a href="{{similar}}">Similar Movies</a>
</div>